.all-farms__content {
  margin-top: 1rem !important;
}

.show-modal {
  display: block;
}

/* All Farms */
.all-farms {
  .buttons {
    padding: 1em;
    text-align: center;
  }
}

.all-farms__content .notification {
  width: 90% !important;
  text-align: center;
}

.farm {
  margin: 0.4em;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0.3em;
  border-bottom: 1px solid rgba(0,0,0,0.06);
}
dt {
  float: left;
  width: 50%;
  padding: 0.3em;
  font-weight: bold;
}
dd {
  float: left;
  width: 50%;
  padding: 0.3em;
}

header.farm-title {
  border-bottom: 1px solid rgba(0,0,0,0.06);
  padding-bottom: 0.3em;
}

/* Fund Page */
.farm-details {
  border-bottom: 2px solid black;
}
